
.card-hover:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px 0 rgba(61, 44, 44, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.24);

}

.my-card {
    min-width: 200px;
    max-width: 350px;
}

/* .card img {
    height: 200px;
    object-fit: cover;
} */

.rounded-circle {
    max-width: 250px;
    object-fit: cover;
}

.card-img-top {
    max-height: 500px;
    min-height: auto;
    object-fit: cover;
}
/* 
.card a:visited {
    color: lightcoral;
} */
    