* {box-sizing: border-box;}

body { 
  margin: 0;
  background-color: beige;
}

.header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
  background-color: #e45f56;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: beige;
  text-align: center;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 1.5rem; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  
}

.header a:hover {
  background-color:  #e04a3f;
  color: snow;
}

.header a.active {
  background-color:  #e04a3f;
  color: snow;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}